.admin-navbar {
  background-color: #292949;
  height: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 0rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #292949;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 50px;
  position: relative;
}
.toggle-icon {
  position: absolute;
  right: 0;
  padding: 0.5rem 0;
}

@media screen and (max-width: 640px) {
  .navbar-toggle {
    display: block;
  }
  .admin-logo {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .navbar-toggle {
    display: none;
  }
  .admin-logo {
    display: block;
  }
}

 