@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classes */
@layer components {
  .align-element {
    @apply mx-auto max-w-9xl px-7;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
@media (max-width: 640px) {
  .mobile-nav {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav img {
    width: 45px;
    height: 40px;
  }
}

/* Hero */

.nav {
  border-bottom: 0.5px solid #181831;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.307);
}
.nav-link:hover {
  background: rgba(0, 0, 0, 0.488) !important;
  border-radius: 12px;
  color: white !important;
}

.hero {
  width: 100%;
  height: 587px;
  background: url('./assets/412.png'),
    linear-gradient(
      180deg,
      #292949 0%,
      rgba(41, 41, 73, 0.82) 49%,
      rgba(41, 41, 73, 0) 100%
    );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 1rem;

  @media (max-width: 767px) {
    background-position: right center;

    background-repeat: repeat-y;
  }
}

.hero .search-container {
  width: 100%;
  padding: 2rem 0.2rem;
  border-radius: 20px;
  border: 1px #bbcaff solid;
  background: linear-gradient(to bottom, #9190a0 0%, white 100%);
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 520px;
}

.hero .search-container h1 {
  padding: 2rem 1.5rem;
  font-weight: 700;
}

.hero .search-container p {
  max-width: 481px;
  padding: 0.5rem;
  padding-top: 0;
}

.hero .search-container form {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero .search-container form select {
  width: 100%;
  flex-grow: 1;
  height: 4rem;
  background-image: none;
}

/* Style the dropdown menu */
.hero .search-container form button {
  width: 100%;
  background: #ebb044;
  padding: 0.7rem;
  font-size: 24px;
}

.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.category-button {
  background: #292949;
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 135px;
  z-index: 50;
}

/* Hero large screen  */
@media (min-width: 700px) {
  .hero .search-container {
    max-width: 1200px;
    margin-top: 7rem;
    height: 580px;
    border-radius: 20px;
  }
  .hero .search-container h1 {
    margin-bottom: 21px;
    padding: 0.5rem 1.5rem;
  }
  .hero .search-container p {
    max-width: 900px;
  }

  .hero .search-container form {
    max-width: 1020px;
    flex-direction: row;
  }

  .hero .search-container form button {
    width: 271px;
    margin-left: 10px;
  }

  .category {
    max-width: 1020px;
    margin-top: 1rem;
  }

  .category-button {
    padding: 0.5rem 4rem 0.5rem 4rem;
    color: #fff;
    border-radius: 10px;
    width: 200px;
  }
}

/* End Hero */

/* sections */
.first-section {
  width: 100%;
  height: 800px;
  padding-top: 5rem;
  position: relative;

  @media (min-width: 700px) {
    height: 900px;
    padding-top: 15rem;
    margin-bottom: 150px;
  }

  @media (min-width: 1200px) {
    padding-top: 18rem;
    margin-bottom: 200px;
  }
}

.first-section::after {
  content: '';
  background-image: url('./assets/bg-group.svg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: -10;
  overflow: hidden;
  opacity: 0.9;
}

.second-section {
  height: 900px;
  background: #e8e8eb84;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.second-section > div:first-child {
  position: relative;
  top: -5rem;
}

.third-section {
  background: hsl(233, 100%, 98%);
  background: #bbcaff35;
  height: 1133px;
  height: 700px;
  margin-bottom: 5rem;

  @media (max-width: 767px) {
    height: 550px;
  }
}

.fourth-section {
  margin-bottom: 1rem;
  @media (min-width: 767px) {
    margin-bottom: 3rem;
  }
}

.fourth-section form {
  max-width: 1300px;
  padding: 3rem 0 5rem 0;
  flex-direction: column;

  @media (min-width: 767px) {
    flex-direction: row;
  }
}

.fourth-section form input {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 15px;
  font-size: 18px;
}

.fourth-section form button {
  background: #ebb044;
  border-radius: 15px;
  width: 100%;
  font-size: 18px;
  padding: 1rem;
  margin-top: 1rem;
}

.fourth-section > div:nth-child(1) {
  margin-top: 2rem;
}

.fifth-section {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;

  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 600px) {
    height: 900px;
  }
}

.fifth-section .last-card {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 600px;
  background: #292949;

  @media (min-width: 867px) {
    flex-direction: row;
    padding: 0 69px 0 69px;
  }
}
.fifth-section .last-card-content {
  align-self: center;
}
.fifth-section .last-card p {
  max-width: 400px;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.fifth-section .last-card .people {
  margin-top: 3rem;

  @media (min-width: 600px) {
    height: 450px;
    width: 600px;
  }
}

.fifth-section .last-card .button {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;

  width: 170px;
  height: 50px;
}
.fifth-section .last-card .button span {
  font-size: 16px;
}

.fifth-section .last-card .button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth-section .last-card .button > div img {
  height: 80%;
  width: 80%;
}

@media (min-width: 767px) {
  .fourth-section form input {
    flex-grow: 1;
    padding: 1.5rem;
    border-radius: 18px 0 0 18px;
  }

  .fourth-section form button {
    background: #ebb044;
    border-radius: 0 18px 18px 0;
    width: 271px;
    margin: 0;
  }

  .fifth-section .last-card p {
    max-width: 837px;
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }
  .fifth-section .last-card .button {
    width: 180px;
    height: 60px;
    border-radius: 16px;
    margin-left: 0;
  }
  .fifth-section .last-card .button span {
    font-size: 18px;
  }
  .fifth-section .last-card .button > div {
    width: 35px;
    height: 35px;
  }
}

/* end sections */

/* card */

.card {
  margin: 0 auto;

  max-width: 1300px;
  height: 600px;
  background: #f6f8ff;
  border: 1px #bbcaff solid;
  border-radius: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-top: 50px;
}

.card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 250px;
}

.finder {
  max-width: 1300px;
  min-height: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: #f6f8ff;
  border: 1px #bbcaff solid;
  border-radius: 25px;
  line-height: 1.4;

  @media (min-width: 400px) {
    margin-bottom: 3rem;
  }

  @media (min-width: 867px) {
    flex-direction: row-reverse;
    gap: 2rem;
    margin-bottom: 6rem;
  }
}

.finder .content {
  width: 100%;
  @media (min-width: 867px) {
    margin-top: 8rem;
  }
}

.finder img {
  align-self: center;
  height: 300px;
  width: 300px;

  @media (min-width: 767px) {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 640px) {
  .card .content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card .content p {
    max-width: 774px;
  }

  .card img {
    right: -120px;
  }
}

/* card-portfolio */

.card-portfolio {
  margin: 0 auto;

  max-width: 1300px;

  min-height: 540px;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(to bottom, #d1e1f0 0%, white 100%);
  border: 1.5px 1.5px 0 1.5px #f6f8ff solid;

  /* margin-bottom: 5rem; */
  display: flex;
  flex-direction: column;

  @media (min-width: 867px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-portfolio h2 {
  margin: 3rem 0 3rem 0;

  @media (min-width: 867px) {
    max-width: 450px;
    line-height: 5rem;
  }
}
.card-portfolio img {
  align-self: center;
  @media (min-width: 700px) {
    height: 500px;
    width: 500px;
  }
}

/* end card-portfolio */

/* search card */
.search-parent {
  position: relative;
}

.search-parent::before {
  content: '';
  background-image: url('./assets/bg-group.svg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5;
}

@media screen and (min-width: 1200px) {
  .search-parent::before {
    transform: rotate(180deg);
  }
}

.search-container {
  max-width: 1440px;
  margin: 0 auto;
  color: '#000';
  display: flex;
  justify-content: center;

  @media (min-width: 1600px) {
    margin-top: 15rem;
  }
}

.search-container-right {
  display: none;
  /* width: 100%; */
  max-width: 380px;

  margin-top: 3.4rem;
  margin-left: 8rem;

  @media (min-width: 1600px) {
    display: inline;
  }
}

.search-card {
  margin: 1.5rem 0;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
  background: #bbcaff4a;
  border: 1px #bbcaff solid;

  @media (min-width: 1200px) {
    width: 900px;
    gap: 1rem;
  }
}

.search-card button {
  color: #fff;
  width: 100%;
  @media (min-width: 750px) {
    width: 140px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  @media (min-width: 1200px) {
    width: 1000px;
  }
}

.pagination .btn {
  /* border: 1px solid; */
}

.pagination .active {
  background: #ebb044;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.subscribe-right {
  background: #bbcaff4a;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

/* end search card */

/* Single dataset */
.data-set-hero {
  width: 100%;

  margin-bottom: 5rem;
  padding: 0.5rem;
  background: url('./assets/412.png'),
    linear-gradient(
      180deg,
      #292949 0%,
      rgba(41, 41, 73, 0.82) 49%,
      rgba(41, 41, 73, 0) 100%
    );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-position: right center;
    background-repeat: repeat-y;
  }
}
.data-set-hero div {
  margin: 0 auto;
  margin-top: 4rem;
}

.export {
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  /* @media (max-width: 800px) {
    display: none;
  } */
}

.data-section-container {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent 40%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent 40%),
    url('./assets/bg-group.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.data-section {
  background: #292949;
  /* width: 1520px; */
  height: 875px;
  margin: 0 auto;
  margin-bottom: 10rem;

  display: flex;

  @media (max-width: 767px) {
  }
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 95% !important;
  overflow: hidden !important;
}

/* End single dataset */

/* Footer */
.footer-header {
  margin: 1rem 0 0.5rem 0;
}

.column-one img {
  margin: 0.5rem 0 1rem 0;
  height: 40px;
  width: 210px;
}
.column-one p {
  max-width: 400px;
  font-size: 16px;
}

.column-one-social {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  padding: 0;
  margin: 0.7rem 0 0 0;
}
.column-one-social img {
  height: 30px;
  width: 30px;
}

.column-2-list {
  display: flex;
  margin-bottom: 1rem;
  font-size: 16px;
}

.column-2-list img {
  padding-right: 0.4rem;
}

.line {
  max-width: 1720px;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.copy-right {
  margin-top: 22px;
  font-size: 16px;
  letter-spacing: 0.6px;
}

@media (min-width: 640px) {
  .footer-header {
    margin: 1rem 0 1.3rem 0;
  }

  .column-one img {
    margin: 0.5rem 0 1rem 0;
  }
}

/* CSS for SearchableSelect component */

.searchable-select {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 100;
}

.suggestion {
  padding: 4px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background: rgba(241, 243, 244, 0.373);
  }
}

.chart {
  width: 50%;
  height: 50% !important;

  margin: 0 auto;
  margin-top: 5rem;
}

/* Carousel */

.c-parent {
  padding: 27px;

  @media (min-width: 767px) {
    padding: 2px;
  }
}

.circle-with-ding {
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 50%;
  border: 0.0111px solid #292949c7;
  position: relative;

  margin: 4rem;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (min-width: 767px) {
    padding-top: 5rem;
    width: 550px;
    height: 550px;
  }
}

.circle-with-ding h2 {
  padding-top: 1rem;
  font-weight: 900;
  font-size: 20px;

  @media (min-width: 767px) {
    font-size: 22px;
  }
}

.circle-with-ding p {
  font-size: 18px;
  max-width: 200px;

  @media (min-width: 767px) {
    max-width: 300px;
  }
}

.circle-with-ding::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Left side of the triangle */
  border-right: 10px solid transparent; /* Right side of the triangle */
  border-bottom: 20px solid white; /* Bottom side of the triangle */
  position: absolute;
  top: 70%; /* Adjust the top position to position the triangle */
  left: 325px; /* Adjust the left position to position the triangle */
  /* transform: rotate(90deg); */
  z-index: -1;
}

@media (min-width: 767px) {
  .circle-with-ding::before {
    border-left: 20px solid transparent; /* Left side of the triangle */
    border-right: 20px solid transparent; /* Right side of the triangle */
    border-bottom: 30px solid white; /* Bottom side of the triangle */
    top: 65%; /* Adjust the top position to position the triangle */
    left: 518px; /* Adjust the left position to position the triangle */
  }
}
/* End Carousel */

/* M-finder */

.mfinder-hero {
  width: 100%;
  padding: 2rem 0;
  background: url('./assets/412.png'),
    linear-gradient(
      180deg,
      #292949 0%,
      rgba(41, 41, 73, 0.82) 49%,
      rgba(41, 41, 73, 0) 100%
    );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-position: right center;
    background-repeat: repeat-y;
    padding: 4rem 0;
  }
}

.mfinder-hero .heading {
  padding-top: 1rem;
}

.mfinder-hero h1 {
  max-width: 1200px;
  margin: 1rem 0 4rem 0;

  @media (min-width: 767px) {
  }
}
.mfinder-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;

  @media (min-width: 767px) {
    margin-top: 5rem;
  }
}
.mfinder-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 767px) {
    width: 1100px;
    flex-direction: row;
  }
}

.mfinder-form button {
  width: 100%;
  height: 46px;

  @media (min-width: 767px) {
    max-width: 200px;
  }
}

.mfinder-form select {
  flex-grow: 1;
}

.m-data-section-container {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.809),
      transparent 50%
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.809), transparent 50%),
    url('./assets/bg-group.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.m-data-section {
  background: #292949;
  height: 875px;
  margin: 2rem auto;
  margin-bottom: 10rem;
  overflow-x: none;
  display: flex;
  gap: 1rem;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

/* map+++++++++++++++++++++ */

/* parent */

.gm-style-iw-c {
  background: #ebb044 !important;
  min-width: 350px !important;
}

.gm-ui-hover-effect {
  height: 45px !important;
  width: 45px !important;
}

.gm-style .gm-style-iw-tc::after {
  background: none !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
  margin: 0 auto !important;
}
.gm-style-iw .gm-style-iw-c .gm-style-iw .gm-style-iw-c {
  display: none !important;
}

/* admin-container container-with-sidebar */

.map-profile {
  margin: 0 auto;
  margin-right: 1rem;
  /* width: 250px; */
  /* height: 20px; */
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.map {
  height: 100%;
  width: 100%;
}

.mfinder-sidebar {
  height: 100%;
  width: 100%;
  width: 300px;

  @media (max-width: 767px) {
    width: 100%;
    /* max-height: 250px; */
    height: auto;
    border-bottom: 1px solid grey;
    overflow-y: scroll;
  }
}

/* Contact us */

.contact-us {
  margin-top: 8rem;
  @media (min-width: 810px) {
    margin-top: 14rem;
  }

  @media (min-width: 1024px) {
    margin-top: 19rem;
  }
}
.contact-us .feedback {
  max-width: 1700px;
}

/* about-us */
.about-us {
  max-width: 1440px;
  margin: 0 auto;
  @media (min-width: 700px) {
    margin-top: 7rem;
  }
  @media (min-width: 1024px) {
    margin-top: 10rem;
  }
}
.about-us p {
  text-align: start;
}

.create-town {
  position: fixed;
  background: rgba(29, 21, 21, 0.448);
  padding: 0.8rem;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  inset: 0;
  overflow: scroll;
}

.create-town form {
  max-width: 600px;
  background: #fff;
  margin: 6em auto;
}

/* Admin */
.admin-container {
  position: relative;
  width: calc(100% - 250px);
  margin: 0 auto;
  max-height: calc(100vh - 100px);
}

.container-with-sidebar {
  margin-left: 250px;
  padding: 2rem;
  /* border: 1px solid red; */
  overflow: scroll;
}

@media (max-width: 640px) {
  .admin-container {
    width: 100%;
    margin-left: 0;
  }

  .container-with-sidebar {
    margin-left: auto;
    padding: 1rem;
  }
}

.highcharts-credits {
  display: none !important;
}
