@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classes */
@layer components {
  .align-element {
    @apply mx-auto max-w-9xl px-7;
  }
}

@layer base {
  html {
    font-family: Poppins, sans-serif, system-ui;
  }
}

/* navbar */
@media (max-width: 640px) {
  .mobile-nav {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav img {
    width: 45px;
    height: 40px;
  }
}

/* Hero */
.hero {
  width: 100%;
  height: 587px;
  /* border: 1px solid red; */
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    #292949 0%,
    rgba(41, 41, 73, 0.82) 49%,
    rgba(41, 41, 73, 0) 100%
  );
}

.hero .search-container {
  width: 100%;
  height: 636px;
  border-radius: 20px 20px 0 0;
  border: 1px #bbcaff solid;
  background: linear-gradient(to bottom, #9190a0 0%, white 100%);
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #292949;
}

.hero .search-container h1 {
  margin-top: 106px;
  margin-bottom: 21px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.hero .search-container p {
  max-width: 481px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 52px;
}

.hero .search-container form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero .search-container form input {
  flex-grow: 1;
  height: 4rem;
}

.hero .search-container form button {
  width: 100%;
  background: #ebb044;
  padding: 0.7rem;
  font-size: 24px;
}

@media (min-width: 640px) {
  .hero .search-container {
    width: 1305px;

    height: 636px;
    border-radius: 20px;

    color: '#181831';
  }
  .hero .search-container h1 {
    margin-top: 106px;
    margin-bottom: 21px;
    font-size: 60px;
    padding-left: 93px;
    padding-right: 93px;
  }
  .hero .search-container p {
    max-width: 900px;
    font-size: 32px;
  }

  .hero .search-container form {
    width: 1020px;
    flex-direction: row;
  }

  .hero .search-container form input {
    flex-grow: 1;
  }

  .hero .search-container form input::placeholder {
    font-size: 1.3rem;
  }

  .hero .search-container form button {
    width: 271px;
    background: #ebb044;
    margin-left: 10px;
  }
}

/* End Hero */

/* sections */
.first-section {
  width: 100%;
  height: 1133px;
  padding-top: 32rem;
  background: #e8e8eb;
  margin-bottom: 300px;
}

.second-section {
  height: 1133px;
  background: #e8e8eb84;
}

.second-section > div:first-child {
  position: relative;
  top: -5rem;
}

.third-section {
  background: #f7f8ff;
  height: 1133px;
}
.third-section .card-shape {
  display: flex;
  position: relative;
  top: -10rem;
}

.third-section .card-shape > div:nth-child(2) {
  margin-top: -2rem;
}

.third-section .card-shape-2 {
  display: flex;
}

.third-section .card-shape-2 > div:nth-child(2) {
  margin-top: -2rem;
}

.third-section > div:nth-child(2) {
  margin-top: -10rem;
  margin-bottom: 2rem;
}

.fourth-section {
  height: 1133px;
}

.fourth-section form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0;
}

.fourth-section form input {
  flex-grow: 1;
  padding: 2rem;
  border-radius: 20px 0 0 20px;
  font-size: 24px;
}

.fourth-section form button {
  background: #ebb044;
  border-radius: 0 20px 20px 0;
  width: 271px;
  font-size: 24px;
}

.fourth-section > div:nth-child(1) {
  margin-top: 15rem;
}

.fourth-section > div:nth-child(2) {
  margin-top: 10rem;
}

.fifth-section {
  height: 1133px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifth-section .last-card {
  display: flex;
  padding: 69px;
}

.fifth-section .last-card p {
  max-width: 837px;
  margin-bottom: 2rem;
}

.fifth-section .last-card .people {
  margin-top: 5rem;
  height: 450px;
  width: 600px;
}

.fifth-section .last-card .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fifth-section .last-card .button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end sections */

/* card */
.card {
  width: 100%;
  height: 540px;
  background: #f6f8ff;
  border: 1px #bbcaff solid;
  border-radius: 50px;
  line-height: 1.4;
  font-size: 2rem;
  overflow: hidden;
  margin-bottom: 5rem;
  display: flex;
}

.card .content {
  margin-left: 16px;
  margin-top: 40px;
  padding: 1rem;
  font-family: Poppins;
}

.card .content h1 {
  font-size: 2.2rem;
  margin-bottom: 0.9rem;
}

.card .content p {
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  margin-bottom: 2rem;
  max-width: 500px;
}

.card img {
  margin-left: 2rem;
  height: 200px;
  margin-top: -78px;
}

@media (min-width: 640px) {
  .card {
    border-radius: 65px;
    line-height: 1.2;
    font-size: 2rem;
    height: 681px;
  }

  .card .content {
    margin-left: 87px;
    margin-top: 103px;
  }

  .card .content h1 {
    font-size: 65px;
    margin-bottom: 4rem;
  }

  .card .content p {
    font-size: 24px;
  }

  .card img {
    height: 400px;
    width: 990px;
    margin-left: 30rem;
    position: absolute;
    bottom: 0;
  }
}

/* SectionTitle */
.section-title h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  line-height: 1.3;
}

.section-title span {
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .section-title h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .section-title span {
    font-size: 30px;
  }
}

/* card-portfolio */

.card-portfolio {
  width: 100%;
  height: 540px;
  border-radius: 50px 50px 0 0;
  background: linear-gradient(to bottom, #d1e1f0 0%, white 100%);
  border: 1.5px 1.5px 0 1.5px #f6f8ff solid;
  overflow: hidden;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.card-portfolio h2 {
  font-size: 2.2rem;
  max-width: 310px;
  margin: 3rem 0 3rem 0;
  color: #292949;
}
.card-portfolio img {
  height: 300px;
  width: 300px;
}

@media (min-width: 640px) {
  .card-portfolio {
    height: 540px;
    border-radius: 65px 65px 0 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 110px;
  }
  .card-portfolio h2 {
    font-size: 64px;
    max-width: 310px;
    margin-top: -5rem;
  }
  .card-portfolio img {
    height: 500px;
    width: 500px;
  }
}

/* end card-portfolio */

/* Footer */
.footer-header {
  margin: 1rem 0 0.5rem 0;
}

.column-one img {
  margin: 0.5rem 0 1rem 0;
  height: 40px;
  width: 210px;
}
.column-one p {
  max-width: 400px;
  font-size: 18px;
}

.column-one-social {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  padding: 0;
  margin: 0.7rem 0 0 0;
}
.column-one-social img {
  height: 30px;
  width: 30px;
}

.column-2-list {
  display: flex;
  margin-bottom: 1rem;
  font-size: 18px;
}

.column-2-list img {
  padding-right: 1rem;
}

.line {
  max-width: 1720px;
  margin: 0 auto;
  margin-top: 68px;
}
.copy-right {
  margin-top: 22px;
  font-size: 15px;
  letter-spacing: 0.8px;
}

@media (min-width: 640px) {
  .footer-header {
    margin: 1rem 0 1.3rem 0;
  }

  .column-one img {
    margin: 0.5rem 0 1rem 0;
  }

  .copy-right {
    font-size: 18px;
  }
}
